body {
    font-family: 'Open Sans', sans-serif;
}

.banner {
    background-color: #CACACA;
    background: url("/img/techno.jpg");
    background-size: 1350px 750px;
    background-repeat: no-repeat;
    background-attachment: scroll;
}


/* .banner-column {
    background-color: #8D8D8D;
} */

.navbar {
    background-color: #282637;
}

.about {
    background-color: #00BDBD;
}