body {
    font-family: 'Open Sans', sans-serif;
}

.banner {
    background-color: #CACACA;
    background: url("/img/techno.jpg");
    background-size: 1350px 750px;
    background-repeat: no-repeat;
    background-attachment: scroll;
}


/* .banner-column {
    background-color: #8D8D8D;
} */

.navbar {
    top: 0;
    background-color: #282637;
    position: sticky;
    z-index: 2;
}

.about {
    background-color: #00BDBD;
}

.education {
    background-color: #EEEEEE;
}

.bg-redType {
    background-color: #fB857F;
}

.bg-redType:hover {
    color: black!important;
}

.redType-color {
    color: #fB857F;
}

.circle {
    background-color: #fB857F;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project {
    background-color: #2BB3DD;
}

.form {
    background-color: #474D7D;
}

.bummy-box {
    font-size: 72px;
}

.inner-form {
    background-color: #585F73;
}

.footer {
    background-color: #2BB3DD;
}

.footer-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #2BB3DD;
}

.footer-circle:hover {
    background-color: #474D7D;
}